
@{
    ViewData["Title"] = "Add Movie Confirmed";
}

@model Movies4Joel.Models.ApplicationResponse
 
<div class="text-center">
    <br /><br /><br />
    <h1 class="display-4">@Model.Title was added! Thanks!</h1>
    
</div>

