@{
    ViewData["Title"] = "Movies4Joel";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <p> Welcome to the spot where all of your movie dreams come true.</p>
    <br />
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>

