
@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">Podcasts</h1>
    <br />
    <p> Joel also makes podcasts! Follow the link below to go to Joel's collection of podcasts</p>
    <br />
    <a style="font-size: x-large" href="https://baconsale.com/">BaconSale</a>
</div>